/* main */

html
{
	height: 100%;
	width: 100%;
}

body
{
	background-color: #3d0132; /* #313337 */
	min-width: 1024px;
	font-family: monospace;

	height: 100%;
}

html, body
{
	margin: 0;
	padding: 0;
}

a
{
	color: #444;
	text-decoration: none;
}

a:hover
{
	color: #000;
}

.clear
{
	clear: both;
}

#content
{
	margin: 5px;
	padding: 5px;

	height: 90%;
}

#announcements, #challenge
{
	margin-left: 15%;
}

.blood
{
	width: 100%;
	height: 100%;

	background-image: url('../images/blood.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* custom cursor */

*
{
	cursor: url('../images/zombiefinger.png') 5 2, auto;
}

/* placeholder */

.placeholder
{
	color: #777;
}

/* tables */

table.tablesorter thead tr .header
{
	padding-right: 15px;
}

/* navi */

#cursorfix
{
	/* custom cursor fix */
	z-index: 5;

	position: absolute;
	width: 100%;
	height: 42px;
}

#naviheader
{
	width: 100%;
	min-width: 1300px;

	height: 4px;
	background-color: #8c0173;

	border-bottom-style: double;
	border-bottom-color: black;

}

#navi
{
	/* custom cursor fix */
	z-index: 6;
	position: relative;
	left: 45%;

	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
	background-color: #3c0031;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	border-style: double;
	border-color: #8c0173;
	border-top: 0;

}

#navi li
{
	float: left;
	padding: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#navi li a
{
	text-decoration: none;
	/* font-family: "Arial, Helvetica, sans-serif"; */
	font-size: 12px;
	color: #0f9a1c;
}

/* scoreboard */

.challenge
{
	background-color: red;
}

/* challenges */

#challenges .solved
{
	text-decoration: line-through;
}

#challenges .online
{
	color: green;
}

#challenges .offline
{
	color: red;
}

/* submit */

#submit
{
        width: 850px;
        height: 650px;
        background-image: url('../images/zombie1.gif');
	background-repeat: no-repeat;
	background-position: right bottom;
}

#submit form
{
	width: 50%;
	margin: 5% auto;
}

#submit input
{
	width: 99%;
	height: 25px;

	margin: 15px 0 0 0;
	padding-left: 4px;
	float: left;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

#submit select
{
        width: 100%;
        padding: 5px;
	margin: 15px 0 0 0;
        float: left;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

#submit button
{
	padding: 3px;
	margin: 15px 0 15px 0;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid #ccc;
}

#submit .submit_status
{
	padding-right: 35%;
	float: right;
	color: #0f9a1c;
}

/* login */

#login
{
	width: 1125px;
	height: 722px;
	background-image: url('../images/hacklu12_login_final.png');
	margin: 0 auto;
}

#login form
{
	display: inline-block;
	position: relative;
	top: 425px;
	left: 400px;
}

/* #login input, #login button
{
	-moz-box-shadow: 20px 20px 70px 15px #000;
	-webkit-box-shadow: 20px 20px 70px 15px #000;
	box-shadow: 20px 20px 70px 15px #000;
} */

#login input
{
	width: 200px;
	height: 25px;
	margin: 15px 0 0 0;
	padding-left: 4px;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

#login button
{
	padding: 3px;
	margin: 15px 0 0 0;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid #ccc;
}

#login .login_error
{
	position: relative;
	top: 400px;
	left: 370px;
	color: #0f9a1c;
}

#login .login_button
{
	visibility: hidden;
}

#login #image_submit
{
	position: relative;
	top: 360px;
	left: 650px;

	width: 60px;
	height: 50px;
}

/* challenge */

.papertop {
	background-image: url(../images/papertop.gif);
	background-repeat: no-repeat;
	height: 192px;
	width: 642px;
}

.papermiddle {
	padding-left: 80px;
	padding-right: 80px;
	background-image: url(../images/papermiddle.gif);
	background-repeat: repeat-y;
	width:482px;
	height:3px;
}

.paperbottom {
	background-image: url(../images/paperbottom.gif);
	background-repeat: no-repeat;
	width:642px;
	height:195px;	
}

.papertext {
	white-space: pre-wrap;
}

/* scoreboard */

.beerhero
{
	text-align: center;
}
