###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:fluxscoreboard

#### YOUR CONFIGRATUION ####
#
# You have to make sure all settings here are correct
# Note: You might want to look at logging configuration as well.
#


# Enter your database credentials here
db.user = hacklu
db.password =
db.host = localhost
db.port = 3306
db.database = scoreboard

# Enter SMTP mail settings for outgoing email messages
mail.host =
mail.port = 465
mail.username =
mail.password =
mail.ssl = True
# Enter here which address should be used as the default "From" for
# registration mails and other mail features
mail.default_sender =

# Choose a session type (or leave the default if you like it)

# General settings (these are used irregardless of the configuration)
# You only need to set a secret here (a random string with an entropy of about
# 128-256 Bit)
session.secret =
session.lock_dir = %(here)s/data/session/lock
session.key = session
session.cookie_on_exception = True

# Default session: File
# Disable these two lines if you use another session
session.type = file
session.data_dir = %(here)s/data/session/data

# A SQLALchemy session, based on the database settings above. Enable these if
# you want to have sessions in database as well (but remember to disable the
# default session).
#session.type = ext:database
#session.url = %(sqlalchemy.url)s


#### FURTHER CONFIGURATION ####
#
# You can alter these settings, but normally you don't need to - the applcation
# runs fine with the default values.
#


# The final database URL
# To use a different database type, swap out the "mysql://" part for a
# different type. See
# http://docs.sqlalchemy.org/en/rel_0_8/core/engines.html#database-urls for
# details.
sqlalchemy.url = mysql://%(db.user)s:%(db.password)s@%(db.host)s:%(db.port)s/%(db.database)s

# Template settings
mako.directories = %(app_name)s:templates

# Pyramid settings
pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar
    pyramid_tm
    pyramid_beaker
    pyramid_mailer


# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, fluxscoreboard, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_fluxscoreboard]
level = DEBUG
handlers =
qualname = fluxscoreboard

[logger_sqlalchemy]
level = INFO
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
