/* tables */
table.tablesorter {
	/* font-family:arial; */
	font-family: monospace;
	background-color: #8c0173;
	margin:10px 0pt 15px;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #3c0031;
	font-size: 9pt;
	padding: 4px;
	color: #0f9a1c;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	/* cursor: pointer; */
}
table.tablesorter tbody td {
	padding: 4px;
	background-color: #620080;
	vertical-align: top;
	color: white;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8c0173;
}

table.tablesorter a
{
	color: #fff;
}

table.tablesorter a:hover
{
	color: #ddd;
}
