div#menu.navbar-admin {
	background-color: #F2DEDE;
	border-color: #EED3D7;
}

div#menu.navbar-admin > ul > li.active > a {
	background-color: #EFC9C9;
}

div#menu.navbar-admin > ul > li > a {
    color: #B94A48;
}


table.sortable th:hover{
	cursor:pointer;
}

/* Replicate a bootstrap similar display for a select2 list*/
div.select2-container.select2 {
	width: 100%;
}

div.select2-container.select2 > a.select2-choice {
	height: 38px;
	line-height: 38px;
}
