/* paper color: #eccc9d */


@font-face {
  font-family: 'Holtwood One SC';
  font-style: normal;
  font-weight: 400;
  src: local('Holtwood One SC'), local('HoltwoodOneSC'), url(../font/HoltWoodOneSC.woff) format('woff');
}
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(../font/Sanchez.woff) format('woff');
}


* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    /* global text settings */
    color: #222;
    font-family: Sanchez;
    font-size: 16px;
}
a {
    color: #683600;
    outline: 0;
}
a:hover {
    text-decoration: none;
}
.bg {
    min-height: 100%;
    background: #d6bb6e;
    background: linear-gradient(to bottom, #a8a890, #d6bb6e);

    /* needed for the footer */
    position: relative;
}
.grunge-top-bg {
    position: absolute;
    top: 0;
    left: 0;
    /* behind bottom grunge and footer */
    z-index: 0;

    height: 162px;
    width: 100%;
    background-image: url(../images/grunge_top_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.grunge-bottom-bg {
    /* to the bottom */
    position: absolute;
    bottom: 0;
    left: 0;
    /* behind the scenic bg */
    z-index: 1;

    height: 311px;
    width: 100%;
    background-image: url(../images/grunge_bottom_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.sun {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 554px;
    height: 282px;
    background: url(../images/sun.png);
}
footer {
    /* put footer with scenic bg to the bottom */
    position: absolute;
    bottom: 0;
    left: 0;
    /* in front of the grunge bg */
    z-index: 2;

    height: 148px;
    width: 100%;
    background: url(../images/bg.png);
}
a.logo {
    display: block;
    position: absolute;
    left: calc(50% - 11px);
    bottom: 12px;
    z-index: 30;

    background-image: url(../images/fluxlogo.png);
    background-position: 22px 0;
    background-repeat: none;
    height: 38px;
    width: 22px;
    text-decoration: none;
    border: 0;
}
a.logo:hover {
    background-position: 0 0;
}
button, input[type=submit], select {
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background-color: #7d5d3b;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #eccc9d;
    font-family: Sanchez;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
    outline: 0;
}
select option {
    background: #634b30;
}
button:hover, input[type=submit]:hover {
    color: #fff;
}
button:active, input[type=submit]:active {
    position: relative;
    top: 1px;
}
h1 {
    font-size: 50px;
    font-family: Holtwood One SC, Arial Black, serif;
    text-align: center;
}
nav {
    position: absolute;
    top: 78px;
    left: 0;
    /* in front of all bg elements */
    z-index: 10;

    width: 100%;
    text-align: center;
    color: #444;
}
nav a {
    color: #444;
    font-family: Holtwood One SC, Arial Black, serif;
    font-size: 18px;
    text-decoration: none;
}
nav a:hover {
    color: #24180d;
}
nav a.active {
    color: #24180d;
}
.content-wrapper {
    padding: 80px 20px 311px;
}


table.listing {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 5px;
    text-align: center;
}
th {
    padding: 12px 0;
}
td:last-child, th:last-child {
    border-right: 0;
}
tr:first-child th {
    border-top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
tr:nth-child(odd) td {
    background: rgba(255, 255, 255, 0.1);
}
tr:hover td {
    background: rgba(0, 0, 0, 0.1);
}
.team, .location {
    text-align: left;
}
.true, .text-success {
    color: #294D1B;
}
.text-center {
    text-align: center;
}
.false, .text-danger, .text-warning {
    color: #ac1212;
}
.paper, .panel {
    width: 600px;
    margin: auto;
    position: relative;
    min-height: 20px;
    margin-bottom: 40px;
    padding: 19px 40px 40px;
    background: url(../images/paper_bg.png);
    box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.2) inset;
}
.paper:last-child, .panel:last-child {
    margin-bottom: 0;
}
.paper:after, .paper:before, .panel:after, .panel:before {
    content: "";
    position: absolute;
    z-index: -2;
}
.paper-curl, .panel-info {
    border-radius: 20px 200px 10px 120px / 2px 10px 1px 6px;
}
.paper-curl:after, .paper-curl:before, .panel-info:after, .panel-info:before {
    bottom: 12px;
    width: 50%;
    height: 55%;
    max-width: 200px;
    max-height: 100px;
    box-shadow: 0 8px 14px rgba(0,0,0,.5);
}
.paper-curl:before, .panel-info:before {
    left: 6px;
    transform: rotate(-3deg);
}
.paper-curl:after, .panel-info:after {
    right: 6px;
    transform: rotate(3deg);
}
.paper p, .panel p {
    padding-top: 20px;
    text-align: justify;
}
.paper form {
    padding-top: 40px;
    text-align: center;
}
.form-group {
    padding-bottom: 20px;
}
.paper input[type=text], .paper input[type=email], .paper input[type=password], .paper input[type=number] {
    background: transparent;
    border: 0;
    border-bottom: 2px dashed #333;
    font-weight: bold;
    font-family: Sanchez;
    outline: 0;
    padding: 2px;
    width: 300px;
}
::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

:-ms-input-placeholder {  
   color: #333;  
}
h2 {
    text-align: center;
    font-variant: small-caps;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-variant: small-caps;
    font-size: 26px;
}
.alert {
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;
}
.alert-danger {
    border: 2px solid #ac1212;
    color: #ac1212;
}
.alert-success {
    border: 2px solid #294D1B;
    color: #294D1B;
}
.alert-info {
    border: 2px solid #333;
    color: #333;
}
.paper .alert {
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
}
.lefty {
    text-align: left;
}
.text-center {
    text-align: center;
}
.fkinform label {
    display: block;
    width: 200px;
    float: left;
    text-align: left;
}
.form-group::after {
    content: "";
    display: block;
    clear: both;
}
.fkinform input[type=text], .fkinform input[type=password], .fkinform input[type=email], .fkinform input[type=file], .fkinform select {
    display: block;
    float: left;
}
.fkinform .form-group {
    margin-bottom: 5px;
}
.fkinform .help-block {
    float: left;
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
    color: rgba(0, 0, 0, 0.5);
}